#------- PG -------
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=gestion_proyectos


#------ API WEB ----
CONNECTION_STRING=Server=postgresdb;Port=5432;Database=gestion_proyectos;Username=postgres;Password=postgres;Include Error Detail=true
SALT_GENERADOR_HASH=+5676qgasfasfw2lM1bF8s7QqKkfg2523
JWT_KEY=2Jr9#LmP8qWzX4vN7sKdA1hFg6YtR3uB5mCx9ZeQ2pL8asfasf235sdgg3#/&/%$
JWT_ISSUER=GestionProyectosAPI
JWT_AUDIENCE=GestionProyectosWeb
