<div class="layout-topbar">
    <a class="layout-topbar-logo" routerLink="">
        <img src="assets/layout/images/{{layoutService.config.colorScheme === 'light' ? 'logo-dark' : 'logo-white'}}.svg" alt="logo">
        <span>SAKAI</span>
    </a>

    <button #menubutton class="p-link layout-menu-button layout-topbar-button" (click)="layoutService.onMenuToggle()">
        <i class="pi pi-bars"></i>
    </button>

    <button #topbarmenubutton class="p-link layout-topbar-menu-button layout-topbar-button" (click)="layoutService.showProfileSidebar()">
        <i class="pi pi-ellipsis-v"></i>
    </button>

    <div #topbarmenu class="layout-topbar-menu" [ngClass]="{'layout-topbar-menu-mobile-active': layoutService.state.profileSidebarVisible}">       
        <div class="flex align-items-center gap-3">
        <span class="text-600 text-sm" >
          <i class="pi pi-user mr-1"></i>
          {{authService.obtenerNombre()}}
          <span class="ml-1 text-xs surface-300 border-round px-3 py-1">{{authService.esAdministrador() ? 'Rol:Admin' : 'Rol: Miembro'}}</span>
        </span>
        <p-button icon="pi pi-sign-out"
                  severity="danger"
                  [text]="true"
                  [rounded]="true"
                  pTooltip="Cerrar sesión"
                  (onClick)="authService.logout()"
                  >
        </p-button>
        </div>
    </div>
</div>